.page
{
	height: 1300px;
	width: 700px;
	border: 3px solid skyblue;
	border-radius: 2px;
	box-shadow: 2px;
	font-family: verdana;
	font-size: 16px;
	margin: auto;
	padding: 20px;
}
.entete
{
	height: 200px;
	border: 2px solid purple;
	padding: 10px;
}
.infos
{
	float: left;
	border: 1px solid black;
}
.photos{
	border: 1px;
	float: right;

}



.section{
	height: 230px;
	border: 2px solid purple;
	padding: 10px;


}

.section1{
	float: left;
	border: 1px solid blueviolet;

}


.section2{
	
	border: 1px solid blueviolet;
	float: right;
	width: 565px;


	


}